@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');
$section_bg_color: #373a3eb8;
$warn_icon_color: #53555f;
$warn_text_color: #979aa9;
$red: #ff5454;
$warn_color: #9e7f38;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #2d2e33;
  //overflow: hidden;
  color: #fff;
}

input, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 6px;
  margin: 0 0 10px;
  border: 1px solid #2D2E33;
  border-radius: 5px;
  background-color: #2D2E33;
  color: white;
}


label {
  display: block;
  margin-bottom: 0.9rem;
  color: white;
}

button {
  display: block;
  margin-top: 20px;
  min-width: 70%;
  border: 1px solid #2D2E33;
  border-radius: 5px;
  background-color: #2D2E33;
  color: white;
  padding: 5px;
}

input, label, button, input:focus, label:focus, button:focus, select, select:focus {
  outline: none;
}

.row__title {
  font-size: 20pt;
  font-weight: 500;
  width: 100%;
  height: fit-content;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  font-weight: 500;
}

.navbar-brand {
  width: 100px;
  height: 60px;
  background-image: url("/stuff/img/wp_logo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  margin-bottom: 10px;
}

[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  user-select: none;
}

[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 10%;
  background: #242529;
}

[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #FF5454;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 20%;
  -webkit-transition: all .4s cubic-bezier(0.82, -0.39, 0.2, 2.95);
  transition: all .4s cubic-bezier(0.82, -0.39, 0.2, 2.95);
}

[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='checkbox']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  user-select: none;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 10%;
  background: #a6a8b4;
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #FF5454;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 20%;
  -webkit-transition: all .4s cubic-bezier(0.82, -0.39, 0.2, 2.95);
  transition: all .4s cubic-bezier(0.82, -0.39, 0.2, 2.95);
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.photos-wrap {
  display: flex;
  flex-wrap: wrap;
}

.photos-item {
  cursor: pointer;
  width: 350px;
  height: 350px;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
  background-color: #5a6268;
}

.message-slide {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: -1000px;
  width: 800px;
  height: 100%;
  background-color: rgba(27, 30, 33, 0.81);
  z-index: 9999999;
  transition: right .3s ease-out;
  &.show {
    right: 0;
    transition: right .3s ease-out;
  }
  &__header {
    font-size: 50pt;
    margin-bottom: 200px;
    font-weight: 800;
  }
  &__text {
    margin-bottom: 160px;
    font-size: 25pt;
    font-weight: 600;
    text-align: center;
  }
  &__button>button {
    background-color: $red;
    padding: 5px;
    width: 230%;
  }
}
